#########################################################################
# User configure file for Target Module
#########################################################################
##############################################################################################
# Setting layout: value of setting in hexidecimal notation
# Fields: name    valueASIC0  valueASIC1  valueASIC2  valueASIC3
# Type:   string  uint16_t    uint16_t    uint16_t    uint16_t
# NOTE: You have to set all 4 values, even if you want to only change one
##############################################################################################
ITbias 0x34F 0x34F 0x34F 0x34C