#########################################################################
# User configure file for Target Module
#########################################################################
##############################################################################################
# Setting layout: value of setting in hexidecimal notation (but ommitting the "0x" part)
# Fields: name    value
# Type:   string  uint32_t
##############################################################################################
Bla 34F